* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    display: block;

}


.wrapper {
    /* height: 100vh; */
    background-color: #1D2D3C;
}

main {
    /* height: 80vh; */
    display: flex;
}

.container {}

.img-container {
    width: 200px;
}

.header {
    padding: 20px 40px;
    background-color: #112030;
}

.img-container {}

.container {}

.row {}

.cards-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    padding: 20px;
    background-color: #112030;
    color: #fff;
    text-align: center;
    flex: 1 1 auto;


}

.card-img-top {}

.card-body {}

.card-title {}

.card-text {}